.s{
    background-color: #EEEEEE;
    width :90%;
}
.item1{
    background-color:#7EE5DA;
    padding:11px 0;
}
.item2{
    background-color:#70ccc2;
    margin-top: auto;
    padding:2px 0;

}
.item3{
    background-color:#62b3aa;
}